<% @sandorhotels.each do |sh| %>
<h1 style="text-align: center;"><%= sh.title %></h1>

<p><%= image_tag(sh.avatar_url, size: "200x200", class:"rounded-circle") %></p>

<h5> <%= sh.desc %></h5>

<% end %>

<hr>
<hr>

<div class="row">
  <div class="col-sm-12 text-center">
    <%= link_to "rooms (1 person)", root_path %> |||
    <%= link_to "rooms (2 person)", root_path %> |||
    <%= link_to "rooms (3 person)", root_path %> 
  </div>
</div>

